---
layout: default
---
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
    
    <!-- About the Site -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <img src="/assets/images/logo_color_web.png" class="w3-round" alt="Logo" style="width:10%">
    <h1>Tag: {{ page.tag }}</h1>
    <p class="w3-justify">
        <ul>
        {% for post in site.tags[page.tag] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
            {{ post.description }}
          </li>
        {% endfor %}
        </ul>
    </p>
</div>
